Custom Chatbot for website.json
{
  "name": "Custom Chatbot for website",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1jzd7MqTLn2XW0W5ukuQKFl2bkfKFTKjt",
          "mode": "list",
          "cachedResultName": "Question",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jzd7MqTLn2XW0W5ukuQKFl2bkfKFTKjt"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        544
      ],
      "id": "851ae17f-b022-4f31-811e-fccb58c36f76",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7Xe8RrnOeyEpoSps",
          "name": "Google Drive account 870"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        544
      ],
      "id": "aeee15ee-1f8a-44a2-b954-d8753a35b069",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7Xe8RrnOeyEpoSps",
          "name": "Google Drive account 870"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "new-database",
          "mode": "list",
          "cachedResultName": "new-database"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        128,
        544
      ],
      "id": "385a0c00-4300-4e01-85c2-02ffa89f87c5",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "EcGMjK5DonDWaqZg",
          "name": "PineconeApi account 169"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        768
      ],
      "id": "168e0ef8-9660-4912-9668-2a75c1bc6001",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "6KwGNETxowVbvmtB",
          "name": "Google Gemini(PaLM) Api account 653"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        272,
        768
      ],
      "id": "fe6e36e7-c34a-46e7-8dfd-42a0d3f0887b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Rifat. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -320,
        0
      ],
      "id": "5f2b4114-7060-4561-8217-a03fbac8392b",
      "name": "When chat message received",
      "webhookId": "c9d2ae6c-8d9f-4260-9954-fe8492f7bf3a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "ou are a helpful assistant, get question answer from pinecone database and output it as an pure plain text format, do not use line break or anything else, words will be 15-20.\noutput format:\n do not use line break, use plain text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -48,
        -208
      ],
      "id": "32bb93a8-b6c6-4723-ba73-8b4f0a83cc75",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        16
      ],
      "id": "fa06c68d-798d-4929-9d35-1e3cd3f12740",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6KwGNETxowVbvmtB",
          "name": "Google Gemini(PaLM) Api account 653"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        32,
        16
      ],
      "id": "22b2d8d1-3466-4fcf-894e-3cd30fb3162a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve data when the user ask for relevant data about portfolio website and once the data is retrieve from answer",
        "pineconeIndex": {
          "__rl": true,
          "value": "new-database",
          "mode": "list",
          "cachedResultName": "new-database"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        160,
        16
      ],
      "id": "eb01ec06-3509-433e-b9d1-b15d7761d668",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "EcGMjK5DonDWaqZg",
          "name": "PineconeApi account 169"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        224
      ],
      "id": "717638c9-1357-4375-bf54-c6387dc68901",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "6KwGNETxowVbvmtB",
          "name": "Google Gemini(PaLM) Api account 653"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d3e0297d-27a8-4208-9ede-98a30b51a67a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f00bba974abf03cb5183d4d65f8a9645a781b04770df6a7d08284fca87d50b3"
  },
  "id": "QdbCr9rHvUY1MCb4",
  "tags": []
}